/node_modules
/public/*/*
!/public/images/*
/public/images/vendor
!/public/umn/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js
/public/css
docs/.vuepress/dist
mix-manifest.json
/.cert
/cypress/support/routes.json

/public/build