// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '~bootstrap4-fs-modal/src/sass/bootstrap-fs-modal';
@import 'footer.scss';



.router-link-exact-active {
    background-color: $cyan !important;
}


.controlButton {
    color: white;
}



.stop-container {
    background-color: white
}

.wrapper {
    max-width: 500px;

    width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block !important;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
}

.collapse {
    overflow: hidden;
    max-height: 93vh;
}

.collapse .col {
    overflow: auto;

}
